/* imports */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&family=Oswald&family=Poppins:wght@300&display=swap');

/* reset defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color:#000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

h1, h2, h3 {
    font-family: Abril Fatface, sans-serif;
    color:#000;
    letter-spacing: 0.1rem;
    font-size: 250%;
}

h2 {
    text-align: center;
}

/* header */
header{
    background-color: #fff;
    width: 100%;
    height: 4.5rem;
    position: sticky;
    top:0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

#menu, #logo {
    line-height: 4.5rem;
}

#logo {
    padding-left: 0.9rem;
}

#signature {
    height: auto;
    width: 7.5rem;
    object-fit: cover;
}

#menu li{
    list-style: none;
    margin-right: 1.8rem;
    display: inline;
}

#menu li:hover{
    color:#A7414F;
}

#menu a {
    text-decoration: none;
    color: inherit
}

 .active {
    color: #A7414F !important;
    font-weight: 600 !important;
    border-bottom: 0.06rem solid #A7414F;
}

/* hero image */

#hero-outer {
    overflow: hidden;
    position:relative;
}

#hero-image {
    height: 37.5rem;
    background: url(../images/cafe-background.jpg) no-repeat bottom left;
    background-size: cover;
        /* animates zoom effect on loading page */
        animation-name: hero-zoom;
        animation-duration: 6s;
        animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.2);
    }
}

/* about us */

#about-us h2 {
    font-size: 150%;
    text-align: left;
    padding: 0.625rem 0 0 0.625rem;
    color:#fff;
}

#about-us > h2 {
    height: 3.75rem;
    font-size: 170%;
    text-align: center;
    color:#000;
    vertical-align: center;
    padding-top: 1.5rem;
}
/* about us squares */

#about-us-squares{
    display: flex;
    height: 22rem;
    justify-content: space-between;
}

.about-us-square{
    height: 100%;
    width: 25%;
    border: solid 0.9rem #fff;
    box-sizing: border-box;

}

.about-us-square div {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.about-us-square:nth-of-type(1){
    background: url(../images/founders2.webp) no-repeat top center ;
    background-size: cover; 
}

.about-us-text {
    color: white;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: none;
}

.about-us-text p {
    color: white;
    height: 100%;
    padding-top: 10%;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

.about-us-square:nth-of-type(2){
    background: url(../images/cafe.jpg) no-repeat center center ;
    background-size: cover; 

}

.about-us-square:nth-of-type(3){
    background: url(../images/myriad.jpeg) no-repeat left center ;

    background-size: cover;
}

.about-us-square:nth-of-type(4){
    background: url(../images/community.jpg) no-repeat center center ;
    background-size: cover; 
}

/* hover effects */

.about-us-square:hover > .about-us-text{
    display: flex;
    align-items: center;
}

.about-us-square:hover h2 {
    display: none;
}

.about-us-square:hover div {
    background-color: rgba(167, 65, 79, 0.8)
}

/* footer */

footer {
    height: 8rem;
    margin-top: auto;
    width: 100%;
    background-color:#6797a1;
    z-index:1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-left {
    color: #fff;
    width:33%;
    margin-left: 0.9rem;
}

#footer-left h3 {
    font-size: 110%;
    color: inherit;
    padding-bottom: 0.125rem;
}

#footer-left p {
    justify-content: space-between;
    display: flex;
    padding-right: 25%;
}

#footer-right {
    font-size: 200%;
    margin-right: 0.9rem;
    color: #fff;
    width: 33%;
    text-align: right;
}

#footer-right a {
    text-decoration: none;
    color: inherit;
}

#footer-right i {
    margin-right: 0.9rem;
}

#signature-footer {
    height: auto;
    width: 7.5rem;
    object-fit: cover;
    /* invert colors - from Stack Overflow - https://tinyurl.com/mry6kjss */
    -webkit-filter: invert(100%); 
    filter: invert(100%);
}

/* whats on listings */

#whats-on {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.9rem;
}

.event-listing{
    height: 18.75rem;
    background-color:#000;
    border: #fff 0.3rem solid;
    box-sizing: border-box;
    position:relative;
    transition: 0.5s all ease;
}

.event-listing:hover{
    height:300px;
    position:relative;
    background-color:#000;
    border: black 5px solid;
    box-sizing: border-box;
}

.event-date {
    position:absolute;
    top:0;
    right:0;
    background-color: #A7414F;
    padding: 0.6rem;
    color: #fff;
    transition: 0.5s all ease;
    white-space: nowrap;
    overflow: hidden;
}

.event-info{
    height: 15%;
    width: 100%;
    background-color: #A7414F;
    position: absolute;
    bottom: 0;
    transition: 0.5s all ease;
    white-space: nowrap;
    overflow: hidden;
}

.event-info p {
    background-color: #A7414F;
    color: #fff;
    font-size: 110%;
    text-align: left;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    transition: 0.5s all ease;
}

.event-listing:hover > .event-date {
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
    background-color:#fff;
    color: #000;
}

.event-listing:hover .event-info {
    height: 25%;
    background-color:#fff;
    color: #000;
    white-space:unset;
    overflow: auto;
}

.event-listing:hover p {
    background-color:#fff;
    color: #000;
}

#whats-on .event-listing:nth-child(1){
    width: 25%;
    background: url(../images/whats-on/piano.jpeg) no-repeat top center;
    background-size: cover;
}

#whats-on .event-listing:nth-child(2){
    width: 25%;
    background: url(../images/whats-on/harp.jpeg) no-repeat top center;
    background-size: cover;
}

#whats-on .event-listing:nth-child(3){
    width: 50%;
    background: url(../images/whats-on/contemporary-band.jpg) no-repeat center center;
    background-size: cover;
}

#whats-on .event-listing:nth-child(4){
    width: 50%;
    background: url(../images/whats-on/quartet\ in\ garden.jpeg) no-repeat center center;
    background-size: cover;
}

#whats-on .event-listing:nth-child(5){
    width: 25%;
    background: url(../images/whats-on/cello-pluck.jpg) no-repeat bottom center;
    background-size: cover;
}

#whats-on .event-listing:nth-child(6){
    width: 25%;
    background: url(../images/whats-on/classical_guitar.jpeg) no-repeat center center;
    background-size: cover;
}

/* Contact Us */

.ask-us-container{
    position: relative;
    height: 40rem;
    width: 100%;
}

.ask-us-right{
    display: block;
    height: 100%;
    width: 75%;
    background-color: grey;
    border: 15px #fff solid;
    background: url(../images/baristas.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    float: right;
    box-sizing: border-box;
}

.ask-us-form {
    height: 30rem;
    width: 30rem;
    position: absolute;
    left: -30%;
    bottom: 10%;
    background-color: #A7414F;
    border-left: 0.2rem #fff solid;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
}

.ask-us-form h3 {
    color: #fff;
    font-size: 170%;
    margin-bottom: 1rem;
}

.ask-us-form label {
    color: #fff;
}

textarea {
    resize: none;
    width: 90%;
    margin-top: 0.5rem;
}

input {
    height: 2rem;
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

input[type=submit] {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color:#000; 
    border-bottom: #000 0.2rem solid; 
    margin-top: 1rem;     

}
input[type=submit]:hover {
    border-bottom: #fff 0.2rem solid; 
    transform: translateY(2px);
    cursor: pointer;
}

.find-us div {
    width: 100%;
    height:20rem;
    background-color: #A7414F;
}

.find-us h2 {
    font-size: 170%;
    margin-bottom: 1rem;
}

iframe{
    width: 100%;
    height: 20rem;
    box-sizing: border-box;
    border-top: 0.2rem #000 solid;
}

/* responsive elements */

@media screen and (max-width: 905px) {
    #menu {
        display: block;
        clear: both;
        margin-left: 1.875rem;
        margin-bottom: 1.25rem;
        padding-top: 0.625rem;
        line-height: 1.5rem;
        position: relative;
        top: auto;
    }

    #logo{
        margin-top: 1.5rem;
    }

    header {
        height: 9.5rem;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        position: relative;
    }

    #hero-image{
        background: url(../images/cafe-background.jpg) no-repeat top center;
        background-size: cover;
    }
    #signature {
        display: none;
    }

    /* about us */

    #about-us-squares{
        display: flex;
        flex-direction: column;
        height: 56.25rem;
        justify-content: space-between;
    }

    .about-us-square{
        height: 60%;
        width: 80%;
        margin: auto;
        box-sizing: border-box;
    }

    #about-us h2 {
        font-size: 100%;
    }

    .about-us-text p {
        font-size: 70%;
    }

    #about-us > h2 {
        height:6.25rem;
        font-size: 140%;
        margin: auto 0;
    }

    footer {
        height: 12rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    #footer-left{
        width: 100%;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        font-size: 90%;
        justify-content: left;
        text-align: left;
    }

    #footer-center {
        height: 0.1rem;
        display:none;
    }

    #footer-right {
        width: 65%;
        margin-left: 0.9rem;
        text-align: left;
    }

    /* whats on */
    
    #whats-on {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0.9rem;
    }

    #whats-on .event-listing{
        width: 100%;
    }
 
    .event-info p {
        font-size: 80%;
    }

    .event-date{
        font-size: 90%;
    }

    /* contact us - responsive */

    .ask-us-right{
        display: block;
        height: 100%;
        width: 100%;
        background: url(../images/portrait-barista.jpg) no-repeat center center;
        border: 15px #fff solid;
        display: flex;
        clear: both;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    .ask-us-form {
        height: 30rem;
        width: 30rem;
        position:initial;
        margin: 2% 5%;
        background-color: rgba(167, 65, 79, 0.8);
        border-left: none;
        padding: 0.2rem 0.2rem 0.2rem 1rem;
    }

}
