/* imports */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&family=Oswald&family=Poppins:wght@300&display=swap');

/* reset defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color:#000;
}

h1, h2 {
    font-family: Abril Fatface, sans-serif;
    color:#000;
    letter-spacing: 2px;
    font-size: 250%;
}

h2 {
    text-align: center;
}

/* header */
header{
    background-color: #fff;
    width: 100%;
    height: 75px;
    position: sticky;
    top:0;
    z-index: 999;


}

header a {
    text-decoration: none;
}

#menu, #logo {
    line-height: 75px;
}

#logo {
    text-decoration: none;
    vertical-align: center;
    padding-left: 30px;
    position: absolute;
    /* top: 15%; */
    float: left;

}

#signature {
    height: 100%;
    width: 121px;
    object-fit: cover;
    position: absolute;
    right:45%;
}

#menu {
    position: absolute;
    /* top: 30%; */
    right: 0;
}

#menu li{
    list-style: none;
    margin-right: 30px;
    display: inline;

}

#menu a {
    text-decoration: none;
    color: inherit
}

 .active {
    color: #A7414F !important;
    font-weight: 600 !important;
}



/* hero image */

#hero-outer {
    /* height:600px;
    width: 100%; */
    overflow: hidden;
    position:relative;
}

#hero-image {
    height: 600px;
    /* width: 100%; */
    background: url(../images/sebastian-schuppik-H7xTpvBjJS4-unsplash.jpg) no-repeat bottom left;
    background-size: cover;
}

.cover-text-left {
    background-color: rgba(191,165,166,0.5);
    color:#000;
    width:300px;
    height:300px;
    padding: 4px;
    top: 150px;
    left: 150px;
    position: absolute;
}

.cover-text-right {
    background-color: rgba(191,165,166,0.5);
    color:#000;
    width:300px;
    height:300px;
    padding: 4px;
    top: 150px;
    right: 150px;
    position: absolute;
}



/* about us */

#about-us{
    height:350px;
}

.about-us-square{
    height: 100%;
    width: 25%;
    background-color: red;
    float:left;
    border: solid 15px #fff;
    box-sizing: border-box;
    margin-bottom: 75px;
}

.about-us-square div {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* about us squares */


.about-us-square:nth-of-type(1){
    background: url(../images/founders2.webp) no-repeat top center ;
    background-size: cover; 

}

/* .about-us-square:nth-of-type(1):hover{
    background:none;
} */

.about-us-square:nth-of-type(2){
    background: url(../images/cafe.jpg) no-repeat center center ;
    background-size: cover; 

}

.about-us-square:nth-of-type(3){
    background: url(../images/myriad.jpeg) no-repeat left center ;

    background-size: cover;
}

.about-us-square:nth-of-type(4){
    background: url(../images/community.jpg) no-repeat center center ;
    background-size: cover; 

}


#about-us h2 {
    font-size: 150%;
    text-align: left;
    padding: 10px 0 0 10px;
    color:#fff;
}

#about-us > h2 {
    height: 60px;
    font-size: 170%;
    text-align: center;
    color:#000;
    vertical-align: center;
    /* font-style: italic; */
    padding-top: 25px;
}

/* footer */

footer {
    clear: both;
    height: 125px;
    position: relative;
    left:0;
    bottom:0;

    width: 100%;
    background-color:#6797a1;
    z-index:1000;
}

#footer-left {
    float: left;
    vertical-align:top;
}

#footer-center {
    float: left;
    margin-left: 27.5%;
}

#footer-center p {
   text-align: right;
}

#footer-right {
    font-size: 200%;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    color: #fff;
}

#footer-right i {
    margin-right: 15px;
}

#signature-footer {
    height: 60%;
    width: 121px;
    object-fit: cover;
    position: absolute;
    right:45%;
    margin-top: 25px;
    /* invert colors - from Stack Overflow - https://tinyurl.com/mry6kjss */
    -webkit-filter: invert(100%); 
    filter: invert(100%);
}
